@charset "euc-kr";

@font-face {
	font-family: 'webfontNG';
	src: url('../webfont/NanumGothic.eot');
	src: local("※"),
		url('../webfont/NanumGothic.woff') format('woff');
}

@font-face {
	font-family: 'webfontNGB';
	src: url('../webfont/NanumGothicBold.eot');
	src: local("※"),
		url('../webfont/NanumGothicBold.woff') format('woff');
}